<!--Sezione negozi-->
<section class="hero is-danger" *ngIf="product.banned">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">ATTUALMENTE QUESTO PRODOTTO NON VIENE VENDUTO</h1>
    </div>
  </div>
</section>

<section class="section has-background-primary" >

  <section class=".container.is-widescreen">

      <section class="card">

        <div class="card" *ngIf="product">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-128x128">
                  <img [src]="product.urlImage" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{product.name}}</p>
                <p class="subtitle is-6">
                  {{product.description}}
                  <br>
                  <a [href]="product.url">Ulteriori informazioni</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

  </section>
</section>
<!--Tabella dei negozi dove poter comprare il prodotto-->
<section class="section">
  <div class="table-container">
    <table class="table mx-auto">
      <thead>
        <tr>
          <th><abbr title="Store id">Identificativo Negozio</abbr></th>
          <th><abbr title="Contry">Nazione</abbr></th>
          <th><abbr title="Region">Regione</abbr></th>
          <th><abbr title="Province">Provincia</abbr></th>
          <th><abbr title="Address">Indirizzo</abbr></th>
          <th><abbr title="PostalCode">Codice Postale</abbr></th>
          <th><abbr title="Available">Disponibilità</abbr></th>
          <th><abbr title="Available">Price</abbr></th>
          <th><abbr title="List of buttons">Azioni</abbr></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th><abbr title="Store id">Identificativo Negozio</abbr></th>
          <th><abbr title="Contry">Nazione</abbr></th>
          <th><abbr title="Region">Regione</abbr></th>
          <th><abbr title="Province">Provincia</abbr></th>
          <th><abbr title="Address">Indirizzo</abbr></th>
          <th><abbr title="PostalCode">Codice Postale</abbr></th>
          <th><abbr title="Available">Disponibilità</abbr></th>
          <th><abbr title="Available">Price</abbr></th>
          <th><abbr title="List of buttons">Azioni</abbr></th>
        </tr>
      </tfoot>
      <tbody>
        <tr *ngFor="let storedProduct of storedProducts">
          <th>{{storedProduct.store.id}}</th>
          <th>{{storedProduct.store.country}}</th>
          <th>{{storedProduct.store.region}}</th>
          <th>{{storedProduct.store.province}}</th>
          <th>{{storedProduct.store.address}}</th>
          <th>{{storedProduct.store.postalCode}}</th>
          <th>{{storedProduct.quantity}}</th>
          <th>{{storedProduct.price}}€</th>
          <th>
            <form #myForm="ngForm" class="field has-addons">
              <select required name="selectedQuantity" [(ngModel)]="storedProduct.selectedQuantity">
                <option *ngFor="let n of numSequence(storedProduct.quantity); let selectedQuantity = index;"  >{{selectedQuantity+1}}</option>
              </select>
              <div class="control">
                <button [disabled]="!myForm.valid" class="button is-primary" (click)="action(storedProduct)">Aggiungi al carrello</button>
              </div>
            </form>
          </th>
        </tr>


      </tbody>
    </table>
  </div>
</section>
