<p>
  <mat-toolbar>
      <span>{{title}}</span>
      <span class="spacer"></span>
      <span>{{data}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <div class="button-row">
        <!--Bottoni di gestione-->
        <button [disabled]="!isAuthenticated()" mat-raised-button color="warn" (click)="sendUserToDB()">
          Verifica login <mat-icon>build</mat-icon>
        </button>

        <button [disabled]="!isAuthenticated()" mat-raised-button  color="basic" (click)="works()">
          Cerca Prodotti <mat-icon>search</mat-icon>
        </button>

        <button [disabled]="!isAuthenticated()" mat-raised-button color="basic" (click)="works()">
          Visualizza Carrello <mat-icon>shopping_cart</mat-icon>
        </button>

        <button [disabled]="!isAuthenticated()" mat-raised-button color="basic" (click)="works()">
          Manage store database <mat-icon>build</mat-icon>
        </button>



        <!--Bottone di login-->
        <button mat-raised-button color="primary" (click)="authentication()"> {{typeofaccess()[1]}}
          <mat-icon>{{typeofaccess()[0]}}</mat-icon>
        </button>
      </div>
  </mat-toolbar>
</p>

