<section>
  <mat-toolbar>
      <span>{{title}}</span>
      <span class="spacer"></span>


      <div class="button-row">

        <button *ngIf="user" mat-raised-button color="green">
          {{"Welcome "+user.object.email}}
        </button>

        <!--Bottoni di gestione-->
        <button *ngIf="!user"[disabled]="!isAuthenticated()" mat-raised-button color="warn" (click)="sendUserToDB()">
          Verifica login <mat-icon>build</mat-icon>
        </button>

        <button *ngIf="user" [disabled]="!isAuthenticated()" mat-raised-button  color="basic" routerLink="/searchProducts">
          Cerca Prodotti <mat-icon>search</mat-icon>
        </button>

        <button  *ngIf="user" [disabled]="!isAuthenticated()" mat-raised-button color="basic" routerLink="/shopping_cart">
          Visualizza Carrello <mat-icon>shopping_cart</mat-icon>
        </button>

        <button *ngIf="user" [disabled]="!isAuthenticated()" mat-raised-button color="basic" (click)="works()">
          Manage store database <mat-icon>build</mat-icon>
        </button>



        <!--Bottone di login-->
        <button mat-raised-button color="primary" (click)="authentication()"> {{typeofaccess()[1]}}
          <mat-icon>{{typeofaccess()[0]}}</mat-icon>
        </button>
      </div>
  </mat-toolbar>
</section>

